.App {
  text-align: center;
  background-color: bisque;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

}

button {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  background-color: pink;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  background-color: burlywood;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(120, 2, 150);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar h1 {
  color: white;
  margin-right: 200px;
}

.navbar .links {
  text-align: center;
  margin-right: 50px;
}

.links a {
  color: white;
  text-decoration: none;
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  margin: 10px;
}

.navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.user p {
  font-size: 15px;
  margin-right: 10px;
  color: white;
}
.user img {
  font-size: 15px;
  border-radius: 50%;
}

input,
textarea {
  font-family: "Nunito", sans-serif;
  
}

.postagens {
  margin: 0 auto;
  background-color: rgb(255, 170, 236);
  width: 300px;
  height: auto;
  border-radius: 10px;
}
.create-post {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
form {
  margin-top: 50px;
  padding: 30px 20px;
  width: 320px;
  height: auto;
  border-radius: 7px;
  background-color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(43, 0, 255, 0.588);
  overflow: hidden;
}

input,
textarea {
  padding: 8px 10px;
  margin: 3px 8px 16px 8px;
  background-color: rgba(222, 239, 248, 0.877);
  border: 0px transparent;
  border-radius: 5px;
  color: rgb(97, 4, 184);
  font-size: 16px;
  z-index: 1;
  height: auto;
}

.submitForm:hover {
  cursor: pointer;
}